.spark {
  position: absolute;
  pointer-events: none;
  z-index: 9999;
  transform: translate(-50%, -50%);
}

.particle {
  position: absolute;
  width: 3px;
  height: 3px;
  background: #ff0000;
  border-radius: 50%;
  animation: spark 0.6s ease-out forwards;
  /* box-shadow: 0 0 5px rgba(255, 255, 255, 0.8); */
}

@keyframes spark {
  0% {
    opacity: 1;
    transform: translate(0, 0) scale(1);
  }
  100% {
    opacity: 0;
    transform: translate(var(--x), var(--y)) scale(0.5);
  }
}