::-webkit-scrollbar{
  width: 10px;
  background-color: rgb(16, 0, 60);
}
::-webkit-scrollbar-thumb{
  background-color: rgb(82, 1, 221);
  border-radius: 10px;

  
}

::-webkit-scrollbar-thumb:hover{
 
  background-color: #5800ef;
}
::selection {
  background: #8000ff; /* e.g., #3498db for blue */
  color: white; /* e.g., #ffffff for white */
  
}

.headtext{
  font-family: "Tomorrow", sans-serif;


  color: rgb(225, 225, 225);
  font-size: 60px;
  text-wrap: wrap;
}
/* .bgvideo{
  z-index: -1;
} */


.manimg{
  width: 400px;
  height: 500px;
  position: absolute;
  top: 50;
  z-index: 19;
  /* background-color: rgba(41, 129, 251, 0.828); */
  border-radius: 3rem;
/* box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.568); */
  transform-style: preserve-3d;
  /* border: white solid 1px;
  backdrop-filter: blur(5px); */


}

.manname{
 position: absolute;
 top: 20;
 z-index: 18;
  font-size: 100px;

  color: rgba(31, 31, 31, 0.9);
  /* background-color: blanchedalmond; */
  width: 98%;
  display: flex;
  justify-content: space-between;
  user-select: none; /* Prevents text selection */
  -webkit-user-select: none; /* Safari */
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none;
  font-weight: bold;
  text-align: center;
  font-family: "bitter", sans-serif;
  text-transform: uppercase;

}

  

.text-container {
  width: 100%;
  z-index: 18;
  display: flex;
  justify-content: space-evenly;
  /* background-color: #8000ff; */
  align-items: center;
  height: 100vh;

  top: 0; /* Full viewport width or desired width */
  overflow: hidden; /* Hide text that moves outside */
  position: relative;
  white-space: nowrap; /* Keep text on one line */
}
.herobg{
  /* background-image:linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,   
    rgba(140, 0, 247, 0.217) 100% 
  ), url(../assets/images/mjy15.jpg); 
   background-size: cover;
  background-position: center;
  background-repeat: no-repeat; */
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

 
}


.image-container{
  display: flex;
  justify-content: center;
 width: 100%;
  height: 100vh;
  perspective: 2000px;
  align-items: center;
  text-align: center;



}


@media (max-width: 1290px) {
  .manname {
    font-size: 120px;
  }
 
}
@media (max-width: 1070px) {
  .manname {
    font-size: 90px;
  }
 
}
@media (max-width: 900px) {
  .manname {
    font-size: 90px;
  }
 
}
@media (max-width: 768px) {
  .manname {
    font-size: 70px;
  }
 
}
@media (max-width: 640px) {
  .manname {
    font-size: 60px;
  }

 
}
@media (max-width: 488px) {
  .manname {
    font-size: 50px;
  }
  .manimg{
    width: 250px;
    height: 350px;
    border-radius: 2rem;
  }
  

}
@media (max-width: 388px) {
  .manname {
    font-size: 40px;
  }
  .manimg{
    width: 200px;
    height: 250px;
    border-radius: 2rem;
  }
  

}
